<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
  integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">


<app-header></app-header>

<div class="homepage">
  <div class="bg-overlay">
    <header class="hero-text">
      <h1>Welcome to Online Learning</h1>
      <p>Your journey to knowledge begins here.</p>
    </header>
  </div>

  <section id="about" class="container my-5">
    <h2>About Us</h2>
    <p>We provide top-quality courses to help you learn and grow, revolutionizing education by offering flexible and
      accessible opportunities for individuals of all ages.</p>
    <p>Whether you are a student looking to enhance your skills, a professional seeking career advancement, or simply a
      lifelong learner, our platform offers a diverse range of courses tailored to meet your needs.</p>
    <p>Explore a vast library of courses across various subjects, designed by industry experts and educators. Our
      interactive lessons, quizzes, and assignments ensure that you stay engaged while mastering new concepts.</p>
    <p>Join a vibrant community of learners and instructors, where you can share ideas, ask questions, and collaborate
      on projects. With our intuitive learning management system, tracking your progress and achieving your educational
      goals has never been easier.</p>
    <p>Embark on your educational journey today and unlock your potential with the power of online learning!</p>
  </section>

  <section id="popular-courses" class="container my-5">
    <h2>Popular Courses</h2>
    <p>Check out our most popular courses to start learning today...</p>
  </section>



  <section id="contact" class="container my-5">
    <h2>Contact Us</h2>
    <p>If you have any questions, feel free to contact us...</p>
  </section>
</div>

<app-footer></app-footer>