<p>Show Quizes Here</p>
<!-- <div class="quiz-container">
    <form (ngSubmit)="submitQuiz()">
      <div *ngFor="let question of quiz.questions">
        <h5>{{ question.text }}</h5>
        <div *ngFor="let option of question.options">
          <input type="radio" name="{{ question.id }}" [(ngModel)]="question.selectedOption" [value]="option" required />
          {{ option }}
        </div>
      </div>
      <button type="submit" class="btn btn-success">Submit</button>
    </form>
  </div> -->
  